build/
dist/
bin/
CLSharp/
__pycache__/
*.swp
*.bat
test.*
test2.*
*.zip
*.spec
raygui.h
raylib.h
raylib.dll
raymath.h
rlgl.h
libraylib.a
libraylibdll.a
rayguiwrapper.o
main.lshrp
compiletest.bat
inputtest.lshrp

